$gray-1: #fcfcfc;
$gray-2: #f6f4f4;
$gray-3: #efefef;
$gray-4: #e5e5e5;
$gray-5: #c8c9c9;
$gray-6: #5f5f5f;
$gray-7: #3e3e3e;
$light-pink: #f8aeba;
$dark-red: #ce0101;
$light-red: #e74c3c;
$light-green: #2ecc71;
$twitter-blue: #1da1f2;
$blue-turquoise: #63a4ff;
$turquoise: #83eaf1;
$blue-turquoise-gradient: linear-gradient(315deg, $blue-turquoise 0%, $turquoise 74%);
